<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ph.nabla_typemath">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TypeMath">
        <activity
            android:name=".MainActivity"
            android:label="@string/nabla_activity_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CustomCommand"
            android:label="@string/custom_command_activity_name"
            android:parentActivityName=".SettingActivity" />
        <activity
            android:name=".SymbolsActivity"
            android:label="@string/symbols_activity_name"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SettingActivity"
            android:label="@string/setting_activity_name"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".HelpActivity"
            android:label="@string/help_activity_name"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CustomCommandPort"
            android:label="Import/Export"
            android:parentActivityName=".SettingActivity"/>

        <service
            android:name=".MathTypeService"
            android:label="@string/accessibility_service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
    </application>

</manifest>